@charset "utf-8";

/** 스킵 네비게이션 **/
#skip {position:relative}
#skip a {position:absolute; width:130px; left:0; top:-40px; border:1px solid #fff; color:#fff; background:#333; line-height:30px; text-align:center; font-size:.75rem;}
#skip a:active, 
#skip a:focus {top: 0;}

/** 레이아웃 **/
body {background-color:#02020f}
.wrapper {width:90%; padding:5%}
.container {position:relative; width:100%; margin:0 auto}

/** 폰트 **/
.noto {font-family: 'Noto Sans KR', sans-serif}
.robo {font-family: 'Roboto', sans-serif;}
.osw {font-family: 'Oswald', sans-serif;}

/** 폰트 컬러 **/
.fcolor1 {color:#333} /*기본 글씨*/
.fcolor2 {color:#eee} /*기본 배경 - 연한 회색*/
.fcolor3 {color:#193e27} /*PC,M 메인 - 진한 녹색*/
.fcolor4 {color:#e4deba} /*PC,M 서브 - 베이지*/
.fcolor5 {color:#000} /*검정*/
.fcolor6 {color:#fff} /*화이트*/
.fcolor7 {color:#007042} /*녹색*/

/** header **/
#header {padding-bottom:50px}
#header h1 {padding:10px 20px 5px 0}
#header h1 a {font-family:'Do Hyeon'; font-size:3rem; color:#fff}
#header .home {position:absolute; top:20px; right:0; color:#fff; font-size:2rem; opacity:.7}
#header .home:hover {opacity:1}
#header p {font-family: 'Chilanka', cursive; color:rgba(256,256,256, .3); font-size: 1.5rem}
