@charset "utf-8";

/** 콘텐츠 **/
#contents h3 {font-size:2rem; color:#fff; margin-bottom:10px; font-family: 'Do Hyeon', sans-serif;}
#contents .set-grid ul {display:grid; grid-template-columns: 23.5% 23.5% 23.5% 23.5%; grid-column-gap:2%; grid-row-gap:3vh}
#contents .set-grid li a {display:block; width:100%; height:200px; background-color:rgba(256,256,256,.1); border-radius:10px; overflow:hidden; position:relative; color:#333;}
#contents .set-grid li a:hover {box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);}
#contents .set-grid li a span {display:block; position:absolute; right:2%;}
#contents .set-grid li a span.type {top:70%}
#contents .set-grid li a span.name {font-size:1.25rem; top:80%}

#contents .skill ul {text-align:center}
#contents .skill ul p {text-align:left; width:200px; margin-top:10px; font-size:.875rem}

#contents .webpages {margin-top:50px}
#contents .webpages li:nth-child(1) a {background:url(../images/website1.jpg) no-repeat; background-size:cover}
#contents .webpages li:nth-child(2) a {background:url(../images/website2.jpg) center no-repeat; background-size:cover}
#contents .webpages li:nth-child(3) a {background:url(../images/website3.jpg) center no-repeat; background-size:cover; color:#ddd}

#contents .modal .modal__content {position:relative; color:#02020f;}
#contents .modal .modal__content h4 {font-size:1.5rem; letter-spacing:-2px; font-weight: bold;}
#contents .modal .modal__content p.site-name {font-family: 'Do Hyeon', sans-serif; font-size:1.5rem}
#contents .modal .modal__content .participation {margin-bottom:10px}
#contents .modal .modal__content .participation dt {display:inline-block;  font-size:.875rem; font-weight:bold}
#contents .modal .modal__content .participation dd {display:inline-block; font-size:.875rem}
#contents .modal .modal__content .go-github {position:absolute; font-size:1.25rem; font-weight:bold; top:146px; right:3rem; color:#02020f; background:none; cursor:pointer}
#contents .modal .modal__content .go-github:hover i {color:#902bbf}
#contents .modal .modal__content .go-site {position:absolute; font-size:1.25rem; font-weight:bold; top:100px; right:2.4rem; color:#02020f; background:none; animation-duration:1s; animation-name:sliding; animation-iteration-count: infinite; cursor:pointer}
@keyframes sliding {
    from {right:3rem;}
    50% {right:2.4rem;}
    100% {right:3rem;}
}
#contents .modal .modal__content table {color:#02020f; width:100%; border-top:1px solid #02020f; margin-top:20px}
#contents .modal .modal__content table tr {border-bottom:1px solid #02020f;}
#contents .modal .modal__content table tr,
#contents .modal .modal__content table td {padding:7px; position:relative;}
#contents .modal .modal__content table td.color-chip {padding-top:20px}
#contents .modal .modal__content table td.color-chip.darkbg {background:#999}
#contents .modal .modal__content table td.color-chip:before {content:''; position:absolute; top:7px; left:7px; width:20px; height:6px;}
#contents .modal .modal__content table td.fcolor1.color-chip:before {background:#333}
#contents .modal .modal__content table td.fcolor2.color-chip:before {background:#eee}
#contents .modal .modal__content table td.fcolor3.color-chip:before {background:#193e27}
#contents .modal .modal__content table td.fcolor4.color-chip:before {background:#e4deba}
#contents .modal .modal__content table td.fcolor5.color-chip:before {background:#000}
#contents .modal .modal__content table td.fcolor6.color-chip:before {background:#fff}
#contents .modal .modal__content table td.fcolor7.color-chip:before {background:#007042}

#contents .code {margin-top:50px}
#contents .code li a:after {content:''; position:absolute; bottom:0; left:0; width:100%; height:45px; background-color:rgba(256,256,256,.1);}
#contents .code li:nth-child(1) a {background:url(../images/slide1.gif) center no-repeat; background-size:cover;}
#contents .code li:nth-child(2) a {background:url(../images/gnb.gif) center no-repeat; background-size:cover; color:#eee}
#contents .code li:nth-child(3) a {background:url(../images/tab.gif) center no-repeat; background-size:cover; color:#eee}
#contents .code li:nth-child(4) a {background:url(../images/accordion.gif) center no-repeat; background-size:cover; color:#eee}


/** footer **/
#footer {margin-top:100px; overflow:hidden}
#footer .contact h3 {font-family: 'Do Hyeon', sans-serif; font-size:2rem; position:relative; margin-bottom:10px}
#footer .contact h3 i {position:absolute; top:5px; left:160px; animation-duration:1s; animation-name:updown; animation-iteration-count: infinite; cursor:pointer}
@keyframes updown {
    from {padding-top:7px}
    50% {padding-top:3px}
    100% {padding-top:7px}
}
#footer .contact .email {display:none; overflow:hidden; border:1px solid #fff; padding:50px}
#footer .contact .email p {margin-bottom:20px;}
#footer .contact .email form {overflow:hidden}
#footer .contact .email form input,
#footer .contact .email form textarea {background:transparent; display:block; padding:1%; margin-bottom:10px;}
#footer .contact .email form textarea {width:97%}
#footer .contact .email form button {background:transparent; padding:10px; border:1px solid #fff; border-radius:5px; float:right; cursor:pointer}


/* 768px이하 */
@media screen and (max-width:768px) {
    #contents .set-grid ul {grid-template-columns: 46% 46%; grid-column-gap:4%; grid-row-gap:4vh}
}

/* 모바일 */
@media screen and (max-width:640px) {
    #contents .set-grid ul {grid-template-columns:100%; grid-row-gap:4vh}
    #contents .set-grid ul a {height:250px}
    #contents .modal .modal__dialog {max-width: 500px;}
}

/* 최소 사이즈 */
@media screen and (max-width:480px) {
    #contents .modal .modal__content p.site-name {margin-bottom:30px}
    #contents .modal .modal__content .go-site {margin-bottom:40px; top:94px; left:1.5rem; right:none; font-size:1rem;}
    #contents .modal .modal__content .info-txt {font-size:.875rem}
    @keyframes sliding {
        from {left:1.7rem;}
        50% {left:1.5rem;}
        100% {left:1.7rem;}
    }
    #contents .modal .modal__dialog {max-width: 320px;}
    #contents .modal .modal__content {padding:1.5rem}
    #contents .modal .modal__content table {font-size:.5rem; margin-top:10px}
}















