@charset "utf-8";

/** 콘텐츠 **/
#contents .set-grid h3 {font-size:2rem; color:#fff; margin-bottom:10px; font-family: 'Do Hyeon', sans-serif;}
#contents .set-grid ul {display:grid; grid-template-rows:200px; grid-template-columns: 23.5% 23.5% 23.5% 23.5%; grid-column-gap:2%; grid-row-gap:3%}
#contents .set-grid li a {display:block; width:100%; height:200px; background-color:rgba(256,256,256,.1); border-radius:20px; overflow:hidden; position:relative; color:#333;}
#contents .set-grid li a:hover {box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.2);}
#contents .set-grid li a span {display:block; position:absolute; right:2%;}
#contents .set-grid li a span.type {top:70%}
#contents .set-grid li a span.name {font-size:1.25rem; top:80%}

#contents .webpages li:nth-child(1) a {background:url(../images/website1.jpg) no-repeat; background-size:cover}
#contents .webpages li:nth-child(2) a {background:url(../images/website2.jpg) center no-repeat; background-size:cover}
#contents .webpages li:nth-child(3) a {background:url(../images/website3.jpg) center no-repeat; background-size:cover; color:#ddd}

#contents .modal .modal__content {position:relative; color:#02020f;}
#contents .modal .modal__content h4 {font-size:1.5rem; letter-spacing:-2px; font-weight: bold;}
#contents .modal .modal__content p.site-name {font-family: 'Do Hyeon', sans-serif; font-size:1.5rem}
#contents .modal .modal__content .go-site {position:absolute; font-size:1.25rem; font-weight:bold; top: 77px; right: 2.4rem; color:#02020f; background:none; animation-duration:1s; animation-name:sliding; animation-iteration-count: infinite;}
@keyframes sliding {
    from {right:3rem;}
    50% {right:2.4rem;}
    100% {right:3rem;}
}
#contents .modal .modal__content table {color:#02020f; width:100%; border-top:1px solid #02020f; margin-top:20px}
#contents .modal .modal__content table tr {border-bottom:1px solid #02020f;}
#contents .modal .modal__content table tr,
#contents .modal .modal__content table td {padding:7px; position:relative;}
#contents .modal .modal__content table td.color-chip {padding-top:20px}
#contents .modal .modal__content table td.color-chip.darkbg {background:#999}
#contents .modal .modal__content table td.color-chip:before {content:''; position:absolute; top:7px; left:7px; width:20px; height:6px;}
#contents .modal .modal__content table td.fcolor1.color-chip:before {background:#333}
#contents .modal .modal__content table td.fcolor2.color-chip:before {background:#eee}
#contents .modal .modal__content table td.fcolor3.color-chip:before {background:#193e27}
#contents .modal .modal__content table td.fcolor4.color-chip:before {background:#e4deba}
#contents .modal .modal__content table td.fcolor5.color-chip:before {background:#000}
#contents .modal .modal__content table td.fcolor6.color-chip:before {background:#fff}
#contents .modal .modal__content table td.fcolor7.color-chip:before {background:#007042}

#contents .code {margin-top:50px}
#contents .code li a:after {content:''; position:absolute; bottom:0; left:0; width:100%; height:45px; background-color:rgba(256,256,256,.1);}
#contents .code li:nth-child(1) a {background:url(../images/slide1.gif) center no-repeat; background-size:cover;}
#contents .code li:nth-child(2) a {background:url(../images/gnb.gif) center no-repeat; background-size:cover; color:#eee}
#contents .code li:nth-child(3) a {background:url(../images/tab.gif) center no-repeat; background-size:cover; color:#eee}
#contents .code li:nth-child(4) a {background:url(../images/accordion.gif) center no-repeat; background-size:cover; color:#eee}


/** footer **/























